<%- include('partials/header') %>
<%- include('partials/SideBar') %>
      <!-- End Navbar -->
        <div class="content container">
          <div class="data">
            <table class="table">
              <thead class="thead-dark">
                  <tr>
                  <th scope="col">#</th>
                  <th scope="col"></th>
                  <th scope="col">Past Year(Y-1)</th>
                  <th scope="col">Present Year(Y)</th>
                  <th scope="col">Forcast(Y+1)</th>
                  <th scope="col">Forcast(Y+2)</th>
                  </tr>
              </thead>
              <tbody id="table">
                <form method="POST" action="/financials">
                <% tableData.forEach(function(data, indx){ %>
                  <tr>
                  <th scope="data"><%= indx+1 %></th>
                  <td><%= data.topic %></td>
                  <td><input name='<%= data.topic + "[Y-1]"%>' placeholder="-" style="outline: none; border : none; background-color: inherit;" value=<%= data["Y-1"] %> ></td>
                  <td><input name='<%= data.topic + "[Y]"%>' placeholder="-" style="outline: none; border : none; background-color: inherit;" value=<%= data["Y"] %> ></td>
                  <td><input name='<%= data.topic + "[Y+1]"%>' placeholder="-" style="outline: none; border : none; background-color: inherit;" value=<%= data["Y+1"] %> ></td>
                  <td><input name='<%= data.topic + "[Y+2]"%>' placeholder="-" style="outline: none; border : none; background-color: inherit;" value=<%= data["Y+2"] %> ></td>
                  </tr>
                <% }) %>
                <div class="btn-container" >
                <button class="submit-btn" type="submit" >Submit Your Answers</button>
            </div>
                </form>
              </tbody>
              </table>
          </div>
          <div class="data mx-10 row">
            <h2>Last Available Balance Sheet </h2>
          </div>
            <div class="data container">
              <div class="row">
                <div class="col-6">
                  <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Assests</th>
                        <th scpoe="col"></th>
                        </tr>
                    </thead> 
                    <tbody>
                      <tr>
                        <td>Cash and Equivalents</td>
                        <td><input placeholder="-" style="outline: none; border : none; background-color: inherit;" value=<%= "-" %> ></td>
                      </tr>
                      <tr>
                        <td>Tangible Assets</td>
                        <td><input placeholder="-" style="outline: none; border : none; background-color: inherit;" value=<%= "-" %> ></td>
                      </tr>
                      <tr>
                        <td>Intangible Assets</td>
                        <td><input placeholder="-" style="outline: none; border : none; background-color: inherit;" value=<%= "-" %> ></td>
                      </tr>
                      <tr>
                        <td>Financial Assets</td>
                        <td><input placeholder="-" style="outline: none; border : none; background-color: inherit;" value=<%= "-" %> ></td>
                      </tr>
                      <tr>
                        <td>Differed Tax Assets</td>
                        <td><input placeholder="-" style="outline: none; border : none; background-color: inherit;" value=<%= "-" %> ></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-6">
                  <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Liabilities</th>
                        <th scpoe="col"></th>
                        </tr>
                    </thead> 
                    <tbody>
                      <tr>
                        <td>Debts Due Within one year time</td>
                        <td><input placeholder="-" style="outline: none; border : none; background-color: inherit;" value=<%= "-" %> ></td>
                      </tr>
                      <tr>
                        <td>Debts Due beyond one year time</td>
                        <td><input placeholder="-" style="outline: none; border : none; background-color: inherit;" value=<%= "-" %> ></td>
                      </tr>
                      <tr>
                        <td>Equity</td>
                        <td><input placeholder="-" style="outline: none; border : none; background-color: inherit;" value=<%= "-" %> ></td>
                      </tr>

                    </tbody>
                    </table>
                </div>
              </div>
          </div>
        </div>
        <script>
          document.getElementById('')
        </script>
<%- include('partials/footer') %>