<%- include('partials/header',{profileDetail}) %>
<%- include('partials/SideBar',{profileDetail}) %>

      <div class="content">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-user">
              <div class="image">
                <!-- <img src="" alt="image">
                <p>image</p> -->
              </div>
              <div class="card-body">
                <div class="author">
                  <a href="#">
                    <img class="avatar border-gray" src="<%= profileDetail?.logo %>" alt="image" style="object-fit: cover;">
                    <!-- <p>image</p> -->
                    <h5 class="title">
                      <span class='printName' id='printFirstName'><%= profileDetail?.firstName %></span>
                      <span class='printName' id='printLastName'><%= profileDetail?.lastName %></span>
                    </h5>
                  </a>
                  <p class="description">
                    <div class='description printchatbox' id='printCompanyName'>@<%= profileDetail?.companyName %></div>
                  </p>
                </div>
                <!-- <p class="description text-center">
                  "Description" <br>
                   <br>
                </p> -->
              </div>
              <div class="card-footer">
                <hr>
                <div class="button-container">
                  <div class="row">
                    <div class="col-lg-3 col-md-6 col-6 ml-auto">
                      <h5>-<br><small>-</small></h5>
                    </div>
                    <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                      <h5>-<br><small>-</small></h5>
                    </div>
                    <div class="col-lg-3 mr-auto">
                      <h5>-<br><small>-</small></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="card">
              <div class="card-header">
                <h4 class="card-title">Team Members</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled team-members">
                  <li>
                    <div class="row">
                      <div class="col-md-2 col-2">
                        <div class="avatar">
                          <img src="../assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                        </div>
                      </div>
                      <div class="col-md-7 col-7">
                        DJ Khaled
                        <br />
                        <span class="text-muted"><small>Offline</small></span>
                      </div>
                      <div class="col-md-3 col-3 text-right">
                        <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></btn>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-2 col-2">
                        <div class="avatar">
                          <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                        </div>
                      </div>
                      <div class="col-md-7 col-7">
                        Creative Tim
                        <br />
                        <span class="text-success"><small>Available</small></span>
                      </div>
                      <div class="col-md-3 col-3 text-right">
                        <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></btn>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-2 col-2">
                        <div class="avatar">
                          <img src="../assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                        </div>
                      </div>
                      <div class="col-ms-7 col-7">
                        Flume
                        <br />
                        <span class="text-danger"><small>Busy</small></span>
                      </div>
                      <div class="col-md-3 col-3 text-right">
                        <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></btn>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div> -->
          </div>
        
          <div class="col-md-8">
          <form class="" method="POST" action="/user" enctype="multipart/form-data">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Edit Profile</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Company Name</label>
                      
                        <input id="companyName" name="companyName" type="text" class="form-control workExperience" placeholder="Company" value="<%= profileDetail?.companyName %>" >
               
                      </div>
                    </div>
                    <!-- <div class="col-md-3 px-1">
                      <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Username" value="michael23">
                      </div>
                    </div> -->
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="email" class="form-control" placeholder="Email" value="<%= profileDetail?.email %>">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>First Name</label>
                        <input id="firstName" name="firstName" type="text" class="form-control" placeholder="" value="<%= profileDetail?.firstName %>">
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input id="lastName" type="text" name="lastName" class="form-control" placeholder="" value="<%= profileDetail?.lastName %>">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Address</label>
                        <input type="text" name="address" class="form-control" placeholder="Home Address" value="<%= profileDetail?.address[0] %>"><br>
                        <input type="text" name="address" class="form-control" placeholder="" value="<%= profileDetail?.address[1] %>"><br>
                        <input type="text" name="address" class="form-control" placeholder="" value="<%= profileDetail?.address[2] %>">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" name="city" class="form-control" placeholder="City" value="<%= profileDetail?.city %>">
                      </div>
                    </div>
                    <div class="col-md-4 px-1">
                      <div class="form-group">
                        <label>Country</label>
                        <input type="text" name="country" class="form-control" placeholder="Country" value="<%= profileDetail?.country %>">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label>Postal Code</label>
                        <input type="number" name="pincode" class="form-control" placeholder="ZIP Code" value="<%= profileDetail?.pincode %>">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 px-1">
                    <div class="form-group">
                      <label>Contact No.</label>
                      <input type="number" name="contact" class="form-control" placeholder="" value="<%= profileDetail?.contact %>">
                    </div>
                  </div>
                  
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <label>Company Logo</label>
                    </div>
                    <input type="file" name="file" class="form-control" value="Browse"><br>
                  </div>
                  <!-- <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <label>Which Organization asked you to be evaluated?</label>
                      <input type="text" class="form-control" value="">
                  </div>
                  </div> -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Company Website (Short answer)</label>
                        <input type="text" name="about" class="form-control" value="<%= profileDetail?.about %>" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </form>
        </div>
      </div>

      <script>
          let companyNameBox = document.getElementById('companyName');
          companyNameBox.onkeyup = function(){
            document.getElementById('printCompanyName').innerHTML = companyNameBox.value;
          }
          let firstNameBox = document.getElementById('firstName');
          firstNameBox.onkeyup = function(){
            document.getElementById('printFirstName').innerHTML = firstNameBox.value;
          }
          let lastNameBox = document.getElementById('lastName');
          lastNameBox.onkeyup = function(){
            document.getElementById('printLastName').innerHTML = lastNameBox.value;
          }
      </script>
        
      
      <%- include('partials/footer') %>

      