<%- include('../partials/header') %>
<%- include('../partials/SideBar') %>
      <!-- End Navbar -->

      <div class="content">
        <div class="question-nav">
            <a href="/questionnaire/generic" class="question-link">Generic</a>
            <a href="/questionnaire/business" class="question-link">Business</a>
            <a href="/questionnaire/team" class="question-link">Team</a>
            <a href="/questionnaire/legal" class="question-link">Legal</a>
            <a href="/questionnaire/market" class="question-link">Market</a>
        </div>
        <form class="form" method="POST" action="/questionnaire/generic">
          
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">1</span>
                    Which sector or industry does your business belong to?
                </p>
                <select name="sector" class="sector-select">
                  <%if(typeof genericData?.sector !='undefined' && genericData){ %>
                    <option selected disabled ><%= genericData.sector%></option>
                  <% } else{ %>
                    <option selected disabled>--Select sector/ industry --</option>
                  <% }%>
                  <% sectorOptions.forEach(sector=>{ %>
                    <option value="<%= sector %>"><%= sector %></option>
                  <% }) %>
                  <option value="">Other</option>
                </select>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">2</span>
                    What type of business activity does your start-up engage in?            
                </p>
                <select name="business" class="business-select">
                  <%if(typeof genericData?.business !='undefined' && genericData){ %>
                    <option selected disabled ><%= genericData.business %></option>
                  <% } else{ %>
                    <option selected disabled>--Select business activity--</option>
                  <% }%>
                  <% businessActivities.forEach(business=>{ %>
                    <option value="<%= business %>"><%= business %></option>
                  <% }) %>
                  <option value="">Other</option>
                </select>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">3</span>
                    Which market category does your business target?            
                </p>
                <select name="market" class="market-select">
                  <%if(typeof genericData?.market !='undefined' && genericData){ %>
                    <option selected disabled ><%= genericData.market %></option>
                  <% } else{ %>
                    <option selected disabled>--Select market category--</option>
                  <% }%>
                  <% marketCategory.forEach(market=>{ %>
                    <option value="<%= market %>"><%= market %></option>
                    <% }) %>
                    <option value="">Other</option>
                </select>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">4</span>
                    What is your current Stage of Development?         
                </p>
                <select name="stage" class="stage-select">
                  <%if(typeof genericData?.stage !='undefined' && genericData){ %>
                    <option selected disabled ><%= genericData.stage %></option>
                  <% } else{ %>
                    <option selected disabled>--Select development stage--</option>
                  <% }%>
                  <% devStages.forEach(stage=>{ %>
                    <option value="<%= stage %>"><%= stage %></option>
                  <% }) %>
                  <option value="">Other</option>
                </select>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">5</span>
                    What type of products/services do you manufacture/provide?   
                </p>
                <select name="service" class="service-select">
                  <%if(typeof genericData?.service !='undefined' && genericData){ %>
                    <option selected disabled ><%= genericData.service %></option>
                  <% } else{ %>
                    <option selected disabled>--Select service/ product--</option>
                  <% }%>
                  <% services.forEach(service=>{ %>
                    <option value="<%= service %>"><%= service %></option>
                  <% }) %>
                  <option value="">Other</option>
                </select>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">6</span>
                    What is the mission of your start-up?
                </p>
                <textarea name="mission" rows="3" ><%= genericData?.mission %></textarea>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">7</span>
                    What is the number of founder ? 
                </p>
                <div class="input-container" >
                    <input name="founderNum" type="number" min="0" value="<%= genericData?.founderNum %>" placeholder="Num. of founders" />
                </div>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">8</span>
                    Give us some background on them. 
                </p>
                <ul class="founder-list" >
                  <% genericData?.founders.forEach(founder=>{ %>
                    <li><%= founder %><input value="<%=founder%>" type='hidden' name='founders[]' /></li>
                  <% }) %>
                </ul>
                <div class="input-container" >
                    <input type="text" class="founder-input" placeholder="LinkedIn Link" />
                </div>
                <button type="button" class="add-btn add-founder-btn">Add Link</button>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">9</span>
                    What is the number of permanent employees?            
                </p>
                <div class="input-container" >
                    <input name="employeeNum" type="number" min="0" value="<%= genericData?.employeeNum %>" placeholder="Num. of employee" />
                </div>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">10</span>
                    Give us some background on them. 
                </p>
                <ul class="employee-list" >
                  <% genericData?.employees.forEach(employee=>{ %>
                    <li><%= employee %><input value="<%=employee%>" type='hidden' name='employees[]' /></li>
                  <% }) %>
                </ul>
                <div class="input-container" >
                    <input type="text" class="employee-input" placeholder="LinkedIn Link" />
                </div>
                <button type="button" class="add-btn add-employee-btn">Add Link</button>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">11</span>
                    Committed Capital, <span>if any</span>
                </p>
                <div class="input-container" >
                    <input name="commited_capital" type="number" min="0" value="<%= genericData?.commited_capital %>" placeholder="Number (INR)"/>
                </div>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">12</span>
                    Which type of funding are you targeting?
                </p>
                <div class="input-container" >
                    <input name="target_funding" type="number" value="<%=genericData?.target_funding%>" min="0" placeholder="Number (INR)" />
                </div>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">13</span>
                     What is the current ownership status of your start-up?
                </p>
                <div class="input-container" >
                    <input name="owner_name" type="text" value="<%=genericData?.owner_name%>" placeholder="Name of the owner" /> 
                    <input name="owner_percentage" type="number" min="0" value="<%=genericData?.owner_percentage%>" placeholder="Percentage"/>
                </div>  
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">14</span>
                    Give us some background on the past funding rounds of your start-up?
                </p>
                <div class="input-container" >
                    <input name="past_owner" type="text" value="<%=genericData?.past_owner%>" placeholder="Name of the owner" /> 
                    <input name="past_percentage" type="number" min="0" value="<%=genericData?.past_percentage%>" placeholder="Percentage"/>
                </div>
            </div>
            <div class="btn-container" >
                <button class="submit-btn" type="submit" >Submit Your Answers</button>
            </div>
    
        </form>
      </div>

<%- include('../partials/footer') %>
